.main {
  height: 150vh;
  margin: 0;
  padding: 0;
}

.contents {
  min-height: calc(150vh - 100px);
}

.sizeBox {
  height: 110px;
}

.BannerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bannerImg {
  width: 80vw;
  height: 400px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 50px;
}

.popular {
  box-sizing: border-box;
  padding: 0 170px;
}

.fakeSelectorContainer {
  display: flex;
  justify-content: center;
}

.fakeSelector {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: rgb(198, 198, 198);
}

.general {
  box-sizing: border-box;
  padding: 0 170px;
  margin-top: 40px;
}

.generalContainer {
  box-sizing: border-box;
  height: 200px;
  width: 200px;
  background-color: rgba(250, 250, 250, 0.94);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 10px;
}

.generalContainer span {
  padding: 5px 20px;
  font-weight: 300;
}

.linktocomD {
  text-decoration: none;
  color: black;
}

.generalCompimg {
  max-width: 180px;
  max-height: 100px;
  margin-bottom: 10px;
}

.generalBox {
  display: flex;
  width: 80vw;
  flex-wrap: wrap;
}
