@import './variable.scss';

.main {
  height: 150vh;
  margin: 0;
  padding: 0;
}

.contents {
  min-height: calc(150vh - 100px);
}

.sizeBox {
  height: 110px;
}

// 배너 및 슬라이드
.BannerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bannerImg {
  width: 80vw;
  height: 400px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 50px;
}

.popular {
  box-sizing: border-box;
  padding: 0 170px;
}

.fakeSelectorContainer {
  display: flex;
  justify-content: center;
}

.fakeSelector {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: rgb(198, 198, 198);
}

// 일반 채용관
.general {
  box-sizing: border-box;
  padding: 0 170px;
  margin-top: 40px;
}

.generalContainer {
  height: 300px;
  width: 250px;
  background-color: rgba(250, 250, 250, 0.94);
  border-radius: 30px;
}
